<div class="backPage">
	<div class="marginTop40 balancePage">
		<p class="warnInfo marginTop20 marginBottom20 paddingTop10">&nbsp;&nbsp;&nbsp;&nbsp;系统暂不提供线上支付功能。会员申请提现后，请到会员中心办理。</p>
		<div class="balanceSubPage paddingTop20 paddingBottom20">
			<div class="row marginBottom10">
				<div class="col">
					<div class="col-demo">总积分(个)</div>
				</div>
				<div class="col">
					<div class="col-demo">1372</div>
				</div>
			</div>
			<div class="row marginBottom10">
				<div class="col">
					<div class="col-demo">可兑换积分(个)</div>
				</div>
				<div class="col">
					<div class="col-demo">458</div>
				</div>
			</div>
			<div class="row marginBottom10">
				<div class="col">
					<div class="col-demo">消费指数积分(个)</div>
				</div>
				<div class="col">
					<div class="col-demo">914</div>
				</div>
			</div>
		</div>
		<div class="balanceSubPage paddingTop20 paddingBottom20">
			<div class="row marginBottom10">
				<div class="col">
					<div class="col-demo">当日积分价格(元/个)</div>
				</div>
				<div class="col">
					<div class="col-demo">3.45</div>
				</div>
			</div>
			<div class="row marginBottom10">
				<div class="col">
					<div class="col-demo">可兑换金额(元)</div>
				</div>
				<div class="col">
					<div class="col-demo">1580.10</div>
				</div>
			</div>
			<div class="row marginBottom10">
				<div class="col">
					<div class="col-demo">可提现金额(元)</div>
				</div>
				<div class="col">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</div>
		
		<div class="row rowStyle">
			<div class="col colTitle">
				<div class="col-demo">提现银行</div>
			</div>
			<div class="col colContent">
				<div class="col-demo">中国建设银行重庆南岸支行</div>
			</div>
		</div>
		<div class="row rowStyle">
			<div class="col colTitle">
				<div class="col-demo">银行账号</div>
			</div>
			<div class="col colContent">
				<div class="col-demo">XXXXXXXXXXXXXXXXXX</div>
			</div>
		</div>
		<div class="row rowStyle">
			<div class="col colTitle">
				<div class="col-demo">申请提现金额</div>
			</div>
			<div class="col colContent">
				<div class="col-demo">
					<input type="text" class="inputStyle" placeholder="请输入提现金额！">
				</div>
			</div>
		</div>
		<button class="btStyle marginTop20">申请提现</button>
	</div>
</div>