<ion-header-bar class="bar-assertive" align-title="center">
	<h1 class="title">财务中心</h1>
</ion-header-bar>
<ion-view ng-controller="FinanceCtrl">
    <div class="tabs order-type-nav tabs-top">
        <a class="tab-item order-type-item" ui-sref="tabs.finance.balance" ui-sref-active="assertive">
			余额提现
        </a>
        <a class="tab-item order-type-item" ui-sref="tabs.finance.detail" ui-sref-active="assertive">
			 提现明细
        </a>
    </div>
    <ion-nav-view name="finance-view" class="has-header"></ion-nav-view>
</ion-view>