<ion-view>
<ion-content class="st-background-gray">
		<div class="list">
			<div class="item item-icon-right st-font-12 st-gray">
		      	总积分(个)
		    	<span class="item-note st-black st-font-12">1372</span>
			</div>
			<div class="item item-icon-right st-font-12 st-gray">
		      	可兑换积分(个)
		    	<span class="item-note st-black st-font-12">458</span>
			</div>
			<div class="item item-icon-right st-font-12 st-gray">
		      	消费指数积分(个)
		    	<span class="item-note st-black st-font-12">914</span>
			</div>
		</div>
		<div class="list">
			<div class="item item-icon-right st-font-12 st-gray">
		      	当日积分价格(元/个)
		    	<span class="item-note st-black st-font-12">3.45</span>
			</div>
			<div class="item item-icon-right st-font-12 st-gray">
		      	可兑换金额(元)
		    	<span class="item-note st-black st-font-12">1580.10</span>
			</div>
			<div class="item item-icon-right st-font-12 st-gray">
		      	可提现金额(元)
		    	<span class="item-note st-black st-font-12">0.00</span>
			</div>
		</div>
		<div class="list">
			<div class="item st-font-12">
		      	提现银行
		    	<span class="item-note">中国银行</span>
		  	</div>
		  	<div class="item st-font-12">
		      	银行账号
		      	<span class="item-note">622200********</span>
		  	</div>
		  	<div class="item item-input">
		    	<div class="input-label st-font-12">
		      	申请提现金额
		    	</div>
		    	<input type="text" placeholder="请输入提现金额">
		  	</div>
		  	<div class="item st-border-bottom-none">
		  		<button class="button button-block button-assertive">申请提现</button>
		  	</div>
		</div>
		<div class="st-block-10 st-background-gray"></div>	
</ion-content>
</ion-view>