body{

	font-size:0.5em;
	font-family: "Microsoft YaHei";
}
ul,li,table{
	margin:0;
	padding:0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
.hide{
	display: none;
}
.yiwa-tab .tab-item.tab-item-active, .yiwa-tab.tab-item.active, .yiwa-tab .tab-item.activated {
  margin-top: -2px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: rgba(248, 248, 248, 0);
  color:#ef473a;
}
.home-price{
  font-size:20px;
  color:green;
}
.st-badge{
  width:20px;
  height:20px;
  font-size:12px;
  background-color:#FF4500;
  color:white;
  text-align:center;
  display:inline-block;
  line-height: 18px;
  border-radius: 50%;
}
.st-background-gray{
	background-color:#F5F5F5;
}
.st-background-white{
  background-color: #FFFFFF;
}
.chart{
  width:100%;
  height:260px;
}
.st-block-10{
  height:10px;
}
.st-block-20{
  height:20px;
}
.st-red{
  color:#ef473a;
}
.st-gray{
  color:gray;
}
.st-black{
  color:black;
}
.st-white{
  color:white;
}
.st-orange{
  color:orange;
}
.st-green{
  color:green;
}
.st-font-10{
  font-size:10px;
  font-size:0.5em;
}
.st-title{
  font-size:20px;
  height:50px;
}
.st-title-middle{
  line-height:50px;
}
.st-row-middle{
  line-height: 50px;
}
.st-tab-bottom{
  border-bottom: 1px solid #ef473a;
}
.st-margin-top-10{
  margin-top:10px
}

.st-align-right{
  text-align: right;
}
.st-align-center{
  text-align: center;
}
.st-center{
  margin-left: auto;
  margin-right: auto;
}
.st-radius{
  border:1px solid gray;
  border-radius: 5px;
  display: inline-block;
  padding-left:2px;
  padding-right:2px;
}
.st-width-90{
  width:90%;
}
.st-border-bottom-none{
  border-bottom:none;
}
.st-circle-pic{
  border-radius: 50%;
}
.main-background-pic{
  background-image: url("../img/background.png");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
  background-size: cover;
}
.st-pic-square100{
  width:100px;
  height:100px;
}
.st-text-indent2{
  text-indent: 26px;
  text-align:justify;
}
