body{

	font-size:0.5em;
	font-family: "Microsoft YaHei";
}
ul,li,table{
	margin:0;
	padding:0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}
.hide{
	display: none;
}
.yiwa-tab .tab-item.tab-item-active, .yiwa-tab.tab-item.active, .yiwa-tab .tab-item.activated {
  margin-top: -2px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: rgba(248, 248, 248, 0);
  color:#ef473a;
}
.background-gray{
	background-color:#F5F5F5;
}
.background-white{
  background-color: #FFFFFF;
}
.chart{
  width:100%;
  height:260px;
}
.block-10{
  height:10px;
}
.align-center{
  text-align: center;
}

.st-red{
  color:#ef473a;
}
.st-gray{
  color:gray;
}
.st-10{
  font-size:10px;
}
.st-title{
  font-size:20px;
  height:50px;
}
.st-title-middle{
  line-height:50px;
}
.st-row-middle{
  line-height: 50px;
}
.home-price{
  font-size:20px;
  color:green;
}
.serialNumber{
  width:18px;
  height:18px;
  font-size:12px;
  background-color:#FF4500;
  color:white;
  text-align:center;
  display:inline-block;
  line-height: 18px;
}
.st-tab-bottom{
  border-bottom: 1px solid #ef473a;
}
