<ion-header-bar class="bar-assertive" align-title="center">
    <h1 class="title">首页</h1>
</ion-header-bar>
<ion-view ng-controller="HomeCtrl">  
    <div class="tabs order-type-nav tabs-top">
        <a class="tab-item order-type-item" ui-sref="tabs.home.trade" ui-sref-active="assertive">
			走势图
        </a>
        <a class="tab-item order-type-item" ui-sref="tabs.home.timing" ui-sref-active="assertive">
			 分时图
        </a>
    </div>
    <ion-nav-view name="view" class="has-header"></ion-nav-view>
</ion-view>
