<ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">累计账户信息</h1>
</ion-header-bar>
<ion-content class="backPage">
	<ul class="list">
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">累计兑出数量(个)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">累计兑换金额(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">累计手续费(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">累计代扣税(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">累计提现金额(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">累计申报提现(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">可提现金额(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
	</ul>
</ion-content>