
	<ion-header-bar class="bar bar-header bar-assertive" align-title="center">
   		<h1 class="title">升腾登录</h1>
	</ion-header-bar>
	<ion-view view-title="登录" class="">
  	<ion-content class="st-background-gray">
		<form name="loginForm" novalidate ng-model="loginForm" method="post" accept-charset="utf-8">
			<div class="list">
				<div class="item item-input">
					<i class="icon ion-iphone" ></i>
					<input type="text" placeholder="请输入手机号"/>
				    <button class="button button-stable button-small">获取验证码&nbsp;</button>&nbsp;
				</div>
				<div class="item item-input">
					<i class="icon ion-key"></i>
					<input type="password" placeholder="请输入验证码" class="password"/>
				</div>
				<div class="item st-border-bottom-none">
		  			<button class="button button-block button-assertive">登录</button>
		  		</div>
			</div>
		</form>
	</ion-content>
	</ion-view>