<ion-header-bar class="bar bar-header bar-assertive" align-title="center">
<button class="button button-clear" ng-click="goTo('tabs.main')"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">服务关系</h1>
</ion-header-bar>
<ion-view>
<ion-content class="st-background-gray">
	<div class="list">
		<div class="item item-icon-right ">
			我的服务人
		</div>
		<div class="item item-icon-right  st-gray">
			xxx
			<span class="item-note">133**</span>
		</div>
		<div class="item item-icon-right  st-gray">
			xxx
			<span class="item-note">136**</span>
		</div>
		<div class="item item-icon-right ">
			我服务的人
		</div>
		<div class="item item-icon-right  st-gray">
			xxx
			<span class="item-note">133**</span>
		</div>
		<div class="item item-icon-right  st-gray">
			xxx
			<span class="item-note">136**</span>
		</div>
	</div>
</ion-content>
</ion-view>