<ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">服务关系</h1>
</ion-header-bar>
<ion-content class="backPage">
	<ul class="list">
		<li class="item" ng-click="openSubPage(1)">
			<div class="row">
				<div class="col col-10">
					<div class="col-demo"></div>
				</div>
				<div class="col col-50">
					<div class="col-demo">我的服务人</div>
				</div>
				<div class="col col-40">
					<div class="col-demo">
						<i class="{{icon1}}"></i>
					</div>
				</div>
			</div>	
		</li>
		<li class="item backColor" ng-if="val1">
			<div class="row">
				<div class="col col-10">
					<div class="col-demo"></div>
				</div>
				<div class="col col-30">
					<div class="col-demo">蒋红梅</div>
				</div>
				<div class="col col-60">
					<div class="col-demo">电话:xxxxxxxxxxx</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-10">
					<div class="col-demo"></div>
				</div>
				<div class="col col-30">
					<div class="col-demo">孙海银</div>
				</div>
				<div class="col col-60">
					<div class="col-demo">电话:xxxxxxxxxxx</div>
				</div>
			</div>
		</li>
		<li class="item" ng-click="openSubPage(2)">
			<div class="row">
				<div class="col col-10">
					<div class="col-demo"></div>
				</div>
				<div class="col col-50">
					<div class="col-demo">我服务的人</div>
				</div>
				<div class="col col-40">
					<div class="col-demo">
						<i class="{{icon2}}"></i>
					</div>
				</div>
			</div>	
		</li>
		<li class="item backColor" ng-if="val2">
			<div class="color3">暂无</div>
		</li>
	</ul>
</ion-content>