<ion-view view-title="登录" class="">
	<ion-header-bar class="bar bar-header bar-assertive">
   		<h1 class="title">升腾登录</h1>
	</ion-header-bar>
  	<ion-content class="numa-bg-ef numa-content">
		<form name="loginForm" novalidate ng-model="loginForm" method="post" accept-charset="utf-8">
			<div class="loginPage paddingTop20">
				<div class="marginBottom20">
					<input type="text" placeholder="请输入账号!" class="password"/>
				</div>
				<div class="marginBottom20">
					<input type="text" placeholder="请输入密码!" class="password"/>
				</div>
				<button class="btStyle marginTop10">登录</button>
			</div>
		</form>
	</ion-content>
</ion-view>