<ion-header-bar class="bar bar-header bar-assertive">
<button class="button button-clear" ng-click="goTo('tabs.main');"><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title">关于我们</h1>
</ion-header-bar>
<ion-view>
<ion-content class="st-background-gray">
	<div class="st-block-10"><!----></div>
	<div class="st-align-center">
		<image src="img/logo.png" class="st-pic-square100"/>
		<p class="">升腾消费大数据中心</p>
	</div>
	<div>
		<div class="st-center st-width-90 st-align-left">	
		<p class="st-text-indent2">重庆升腾投资集团股份有限公司（股权代码:100619）是一家集实体商业、金融投资、创新科技为一体的多元化
			投资控股公司，地处中国·重庆·南滨路喜来登国际金融中心30层。公司秉承"正心、修身、齐家、治企、报国、富天下"的企业文化，通过全新的商业运营模式和差异化
			的产品及项目，创建"平台+模式+系统"商业模型，运用"实体、金融、互联网"三驾马车，通过升腾大数据（互联网+物联网）商业系统，让消费者实现消费创收、消费创业
			、消费创富的目标，搭建起一个"大众创新、万众创新"的创新型商业平台，拉动消费，去除库存，盘活资产，构建起以"消费大数据"为核心的多元共赢生圈。
			</p>
			<p class="st-text-indent2">
			升腾集团产业项目涵盖百货超市、餐饮酒店、金融证券、生态农业、进口汽车、旅游地产、通讯通信
			、交通能源、电子商务等多个领域。拥有贵州凤冈锌硒茶产业公司、天地绿农业股份公司、和佛静商贸股份公司、升腾免费时代精品店、升腾免费时代商城巴国城店、升腾·怡然
			酒店、升腾商学院、电子商务公司等多家投资控股公司。</p>
			</div>
	</div>
	<div class="card st-center st-width-90 st-align-center">
		<div class="st-block-10"><!----></div>
		<p>
			<i class="icon ion-chatbubble-working st-red"></i>
			<span>客服QQ: 2301009288</span>
		</p>
		<p>
			<i class="icon ion-email st-orange"></i>
			<span>QQ邮箱: 2301009288@qq.com</span>
		</p>
	</div>
</ion-content>
</ion-view>
