<ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">当日信息</h1>
</ion-header-bar>
<ion-content class="backPage">
	<ul class="list">
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">兑换积分价格(元/个)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">3.45</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">消费积分数(个)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">914</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">恒量可兑换积分数(个)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">58</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">当日可兑换金额(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">200.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">当日兑出数量(个)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">当日兑出金额(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">当日手续费(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
		<li class="item">
			<div class="row">
				<div class="col col-80">
					<div class="col-demo">当日代扣税(元)</div>
				</div>
				<div class="col col-20">
					<div class="col-demo">0.00</div>
				</div>
			</div>
		</li>
	</ul>
</ion-content>