<ion-view>
<ion-header-bar class="bar-assertive" align-title="center">
    <h1 class="title">兑换信息</h1>  
</ion-header-bar>
<ion-content class="backPage exchangePage" ng-controller="ExchangeInfoCtrl">
	<div class="row marginTop20">
		<div class="col">
			<div class="col-demo fontColor3">积分批次</div>
		</div>
		<div class="col">
			<div class="col-demo">00000800</div>
		</div>
		<div class="col">
			<div class="col-demo">
				<div class="border1">当前批次</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="col-demo fontColor3">初始价格</div>
		</div>
		<div class="col">
			<div class="col-demo">3.25</div>
		</div>
		<div class="col">
			<div class="col-demo"></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="col-demo fontColor3">消费指数积分数</div>
		</div>
		<div class="col">
			<div class="col-demo">270</div>
		</div>
		<div class="col">
			<div class="col-demo"></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="col-demo fontColor3">原始消费指数积分数</div>
		</div>
		<div class="col">
			<div class="col-demo">288</div>
		</div>
		<div class="col">
			<div class="col-demo"></div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="col-demo fontColor3">当日已成交积分数</div>
		</div>
		<div class="col">
			<div class="col-demo">0</div>
		</div>
		<div class="col">
			<div class="col-demo">
				<div class="border1">已成交</div>
			</div>
		</div>
	</div>
	<div class="row marginBottom20">
		<div class="col">
			<div class="col-demo fontColor3">待成交积分数</div>
		</div>
		<div class="col">
			<div class="col-demo">0</div>
		</div>
		<div class="col">
			<div class="col-demo">
				<div class="border1">待成交</div>
			</div>
		</div>
	</div>
	<div class="subP paddingTop20 paddingBottom40">
		<div class="row fontColor1">
			<div class="col">
				<div class="col-demo">恒量可兑换积分数</div>
			</div>
			<div class="col">
				<div class="col-demo">18</div>
			</div>
			<div class="col">
				<div class="col-demo"></div>
			</div>
		</div>
		<div class="row fontColor2">
			<div class="col">
				<div class="col-demo">当日还可兑换积分数</div>
			</div>
			<div class="col">
				<div class="col-demo">18</div>
			</div>
			<div class="col">
				<div class="col-demo">
					<div class="border2">剩余</div>
				</div>
			</div>
		</div>
		<table class="tableStyle">
			<tbody>
				<tr>
    				<td>兑出价格</td>
    				<td>
    					<select class="selectStyle">
							<option>3.45</option>
							<option>3.46</option>
							<option>3.47</option>
							<option>3.48</option>
							<option>3.49</option>
							<option>3.50</option>
						</select>
    				</td>
  				</tr>
  				<tr>
  					<td>兑出数量</td>
  					<td>
  						<input type="text" placeholder="请输入兑出数量!"/>
  					</td>
  				</tr>
			</tbody>
		</table>
		<button class="btStyle marginTop10">兑换</button>
	</div>
</ion-content>
</ion-view>