<ion-header-bar class="bar-assertive" align-title="center">
	<h1 class="title">兑换中心</h1>
</ion-header-bar>
<ion-view ng-controller="ExchangeCtrl">
    <div class="tabs order-type-nav tabs-top">
        <a class="tab-item order-type-item" ui-sref="tabs.exchange.batch" ui-sref-active="assertive">
			积分兑换
        </a>
        <a class="tab-item order-type-item" ui-sref="tabs.exchange.query" ui-sref-active="assertive">
			申报查询
        </a>
    </div>
    <ion-nav-view name="exchange-view" class="has-header"></ion-nav-view>
</ion-view>