<div class="backPage" ng-controller="DealingCtrl">
   <ul class="list listBox">
		<li class="item marginBottom10" ng-click="openSubPage()">
			<div class="row itemBox">
				<div class="col col-10">
					<div class="serialNumber">7</div>
				</div>
				<div class="col col-80">
					<span class="subTit">积分批次</span> 
					<span class="batchNo">000310</span></br>
					<div class="marginTop10">
						<span class="content">编号</span>
						<span class="content">007638</span>
						<span class="content">申报数量</span>
						<span class="content">200</span>
					</div>
				</div> 
				<div class="col col-10 iconStyle">
					&nbsp;>&nbsp;
				</div>
			</div>
		</li>
		<li class="item marginBottom10" ng-click="openSubPage()">
			<div class="row itemBox">
				<div class="col col-10">
					<div class="serialNumber">8</div>
				</div>
				<div class="col col-80">
					<span class="subTit">积分批次</span>
					<span class="batchNo">000310</span></br>
					<div class="marginTop10">
						<span class="content">编号</span>
						<span class="content">007637</span>
						<span class="content">申报数量</span>
						<span class="content">200</span>
					</div>
				</div>
				<div class="col col-10 iconStyle">
					&nbsp;>&nbsp;
				</div>
			</div>
		</li>
	</ul>
	<div class="noMore">
		<p>没有更多了</p>
	</div>
</div>