<ion-header-bar class="bar-assertive" align-title="center">
	<button class="button button-clear" ui-sref="tabs.exchange.declaration.dealing"><i class="icon ion-ios-arrow-left"></i></button>
	<h1 class="title">申报信息</h1>
</ion-header-bar>
<ion-view>
<ion-content class="background-gray" ng-controller="DeclarationInfoCtrl">
	<div class="subP marginBottom10">
		<ul class="list">
			<li class="item">
				<div class="row">
					<div class="col">
						<div class="col-demo">申报编号</div>
					</div>
					<div class="col">
						<div class="col-demo">00007638</div>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col">
						<div class="col-demo">所属批次</div>
					</div>
					<div class="col">
						<div class="col-demo">3.10</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="subP marginBottom10">
		<ul class="list">
			<li class="item">
				<div class="row">
					<div class="col">
						<div class="col-demo">成交数量</div>
					</div>
					<div class="col">
						<div class="col-demo">0</div>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col">
						<div class="col-demo">成交金额</div>
					</div>
					<div class="col">
						<div class="col-demo">0.00</div>
					</div>
				</div>
			</li>
		</ul>
	</div>	
	<div class="subP marginBottom10">
		<ul class="list">
			<li class="item">
				<div class="row">
					<div class="col">
						<div class="col-demo">申报状态</div>
					</div>
					<div class="col">
						<div class="col-demo">等待成交</div>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col">
						<div class="col-demo">申报时间</div>
					</div>
					<div class="col">
						<div class="col-demo">2018-01-31 09:08:07</div>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col">
						<div class="col-demo">申报数量</div>
					</div>
					<div class="col">
						<div class="col-demo">200</div>
					</div>
				</div>
			</li>
			<li class="item">
				<div class="row">
					<div class="col">
						<div class="col-demo">申报价格</div>
					</div>
					<div class="col">
						<div class="col-demo">3.45</div>
					</div>
				</div>
			</li>
		</ul>	
	</div>
	<div class="theButton" ng-if="ifHidden" ng-click="exitThis()">
		<button class="btStyle">撤&nbsp;单</button>
	</div>
</ion-content>
</ion-view>