<div class="backPage" ng-controller="RecordCtrl">
   <ul class="list listBox">
		<li class="item marginBottom10" ng-click="openSubPage()">
			<div class="row itemBox">
				<div class="col col-10">
					<div class="serialNumber">1</div>
				</div>
				<div class="col col-80">
					<span class="subTit">积分批次</span> 
					<span class="batchNo">000310</span></br>
					<div class="marginTop10">
						<span class="content">编号</span>
						<span class="content">002510</span>
						<span class="content">申报数量</span>
						<span class="content">100</span>
					</div>
				</div> 
				<div class="col col-10 iconStyle">
					&nbsp;>&nbsp;
				</div>
			</div>
		</li>
		<li class="item marginBottom10" ng-click="openSubPage()">
			<div class="row itemBox">
				<div class="col col-10">
					<div class="serialNumber">2</div>
				</div>
				<div class="col col-80">
					<span class="subTit">积分批次</span>
					<span class="batchNo">000310</span></br>
					<div class="marginTop10">
						<span class="content">编号</span>
						<span class="content">002511</span>
						<span class="content">申报数量</span>
						<span class="content">115</span>
					</div>
				</div>
				<div class="col col-10 iconStyle">
					&nbsp;>&nbsp;
				</div>
			</div>
		</li>
		<li class="item marginBottom10" ng-click="openSubPage()">
			<div class="row itemBox">
				<div class="col col-10">
					<div class="serialNumber">3</div>
				</div> 
				<div class="col col-80">
					<span class="subTit">积分批次</span> 
					<span class="batchNo">000310</span></br>
					<div class="marginTop10">
						<span class="content">编号</span>
						<span class="content">002515</span>
						<span class="content">申报数量</span>
						<span class="content">100</span>
					</div>
				</div>
				<div class="col col-10 iconStyle">
					&nbsp;>&nbsp;
				</div>
			</div>
		</li>
		<li class="item marginBottom10" ng-click="openSubPage()">
			<div class="row itemBox">
				<div class="col col-10">
					<div class="serialNumber">4</div>
				</div> 
				<div class="col col-80">
					<span class="subTit">积分批次</span> 
					<span class="batchNo">000310</span></br>
					<div class="marginTop10">
						<span class="content">编号</span>
						<span class="content">002516</span>
						<span class="content">申报数量</span>
						<span class="content">100</span>
					</div>
				</div>
				<div class="col col-10 iconStyle">
					&nbsp;>&nbsp;
				</div>
			</div>
		</li>
		<li class="item marginBottom10" ng-click="openSubPage()">
			<div class="row itemBox">
				<div class="col col-10">
					<div class="serialNumber">5</div>
				</div> 
				<div class="col col-80">
					<span class="subTit">积分批次</span> 
					<span class="batchNo">000310</span></br>
					<div class="marginTop10">
						<span class="content">编号</span>
						<span class="content">002517</span>
						<span class="content">申报数量</span>
						<span class="content">115</span>
					</div>
				</div>
				<div class="col col-10 iconStyle">
					&nbsp;>&nbsp;
				</div>
			</div>
		</li>
		<li class="item marginBottom10" ng-click="openSubPage()">
			<div class="row itemBox">
				<div class="col col-10">
					<div class="serialNumber">6</div>
				</div> 
				<div class="col col-80">
					<span class="subTit">积分批次</span> 
					<span class="batchNo">000310</span></br>
					<div class="marginTop10">
						<span class="content">编号</span>
						<span class="content">002534</span>
						<span class="content">申报数量</span>
						<span class="content">100</span>
					</div>
				</div>
				<div class="col col-10 iconStyle">
					&nbsp;>&nbsp;
				</div>
			</div>
		</li>
	</ul>
</div>