<div class="mode1 paddingTop20 paddingBottom20 marginTop80">
    <div class="panel-body" style="height:320px" echarts="searchCostOption" id="searchCost"></div>  
</div>
<div class="mode2 marginTop40">
    <div class="tit1 paddingTop20">本期指数积分信息</div>
    <div class="row theRowStyle">
      	<div class="col">
        	<div class="col-demo">本期预期价格</div>
      	</div>
      	<div class="col">
        	<div class="col-demo">当日价格</div>
      	</div>
    </div>
    <div class="row theRowStyle">
      	<div class="col">
        	<div class="col-demo">3.5元/个</div>
      	</div>
      	<div class="col">
        	<div class="col-demo">3.45元/个</div>
      	</div>
    </div>
</div>
