<ion-view ng-app="exchangeApp">
	<ion-header-bar class="bar bar-header bar-assertive">
        <h1 class="title">兑换中心</h1>
    </ion-header-bar>
    <ion-content>
    	 <ul class="tabs supTab">
    	 	<li class="tab-item">
    	 		<a class="selectTab" href="#">积分兑换</a>
    	 	</li>
    	 	<li class="tab-item">
    	 		<a class="selectTab" href="#">申报查询</a>
    	 	</li>
    	 </ul>
    </ion-content>
</ion-view>
<!-- exchange.css -->
<link href="css/exchange.css" rel="stylesheet">