    <ion-header-bar class="bar-assertive">
        <h1 class="title">首页</h1>  
    </ion-header-bar>
<ion-view>
    <div class="tabs order-type-nav tabs-top">
        <a class="tab-item order-type-item" ui-sref="tabs.home.trade" ui-sref-active="active">
            走势图
        </a>
        <a class="tab-item order-type-item" ui-sref="tabs.home.timing" ui-sref-active="active">
            分时图
        </a>
    </div>
    <ion-nav-view name="view" class="has-header"></ion-nav-view>
</ion-view>
