<ion-tabs class="tabs-icon-only tabs-icon-top yiwa-tab">
	<ion-tab title="首页" href="#/tab/home/trade" icon-on="ion-ios-home-outline assertive" icon-off="ion-ios-home-outline">
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab> 
	<ion-tab title="兑换中心" href="#/tab/exchange/integral" icon-on="ion-ios-loop assertive" icon-off="ion-ios-loop"> 
		<ion-nav-view name="exchange-tab"></ion-nav-view>
	</ion-tab> 
	<ion-tab title="财务中心" href="#/tab/finance/balance" icon-on="ion-ios-pricetags-outline assertive" icon-off="ion-ios-pricetags-outline"> 
		<ion-nav-view name="finance-tab"></ion-nav-view>
	</ion-tab>
    <ion-tab title="我的账户" href="#/tab/main" icon-on="ion-ios-person-outline assertive" icon-off="ion-ios-person-outline">
		<ion-nav-view name="main-tab"></ion-nav-view>
	</ion-tab>
</ion-tabs>