<div class="mode1 paddingTop20 paddingBottom20 marginTop80">
	<div class="panel-body" style="height:320px" echarts="searchCostOption" id="searchCost"></div>
</div>
<div class="mode2 marginTop40 marginBottom10">
	<div class="tit1 paddingTop20">实时交易</div>
    <div class="row theDivider theRowStyle">
      	<div class="col">
        	<div class="col-demo">成交时间</div>
      	</div>
      	<div class="col">
        	<div class="col-demo">手续费</div>
      	</div>
      	<div class="col">
        	<div class="col-demo">成交数量</div>
      	</div>
      	<div class="col">
        	<div class="col-demo">代扣税</div>
      	</div>
      	<div class="col">
       		<div class="col-demo">成交金额</div>
      	</div>
    </div>
   	<div class="row theDivider theRowStyle">
     	<div class="col">
        	<div class="col-demo">10:48:37</div>
      	</div>
      	<div class="col">
        	<div class="col-demo">86</div>
      	</div>
     	<div class="col">
       		<div class="col-demo">500</div>
      	</div>
      	<div class="col">
        	<div class="col-demo">0</div>
      	</div>
      	<div class="col">
        	<div class="col-demo">1725</div>
      	</div>
    </div>
    <div class="row theDivider theRowStyle">
      	<div class="col">暂无数据</div>
    </div>
</div>
